<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TextAES</servlet-name>
        <servlet-class>TextAES</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDecrypt</servlet-name>
        <servlet-class>FileDecrypt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TextD</servlet-name>
        <servlet-class>TextD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Keyencrytion</servlet-name>
        <servlet-class>Keyencrytion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DK</servlet-name>
        <servlet-class>DK</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecryptK</servlet-name>
        <servlet-class>DecryptK</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecryptKey</servlet-name>
        <servlet-class>DecryptKey</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TextAES</servlet-name>
        <url-pattern>/TextAES</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDecrypt</servlet-name>
        <url-pattern>/FileDecrypt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TextD</servlet-name>
        <url-pattern>/TextD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Keyencrytion</servlet-name>
        <url-pattern>/Keyencrytion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DK</servlet-name>
        <url-pattern>/DK</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecryptK</servlet-name>
        <url-pattern>/DecryptK</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecryptKey</servlet-name>
        <url-pattern>/DecryptKey</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
